name: OpenWrt Auto Mirror

# यह स्क्रिप्ट तब चलेगी जब तू इसे मैनुअली बटन दबाकर चलाएगा
on:
  workflow_dispatch: 

jobs:
  download-and-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download All 10000+ Packages (Base, Luci, Packages, etc)
        run: |
          echo "Starting download directly to GitHub servers..."
          CATEGORIES=("base" "luci" "packages" "routing" "telephony" "video")
          BASE_URL="https://downloads.openwrt.org/releases/25.12-SNAPSHOT/packages/aarch64_cortex-a53/"
          
          for CAT in "${CATEGORIES[@]}"; do
            echo "Fetching $CAT..."
            wget -q -r -np -nH --cut-dirs=5 -R "index.html*" "${BASE_URL}${CAT}/" || true
          done

      - name: Git Config
        run: |
          git config --global user.email "aashish@example.com"
          git config --global user.name "ctpt14378"

      - name: Commit and Push to JRouter-Repo
        run: |
          git add .
          git commit -m "Auto Update: OpenWrt Packages Full Backup" || echo "No changes to commit"
          git push origin main
